<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Properties Files"
            id="com.dorin.myplugin.view.categories.propertiesfiles">
      </category>
      <view
            name="Properties Files"
            icon="icons/propertiesfiles_16x16.png"
            category="com.dorin.myplugin.view.categories.propertiesfiles"
            class="com.dorin.myplugin.views.PropertiesFilesView"
            id="com.dorin.myplugin.view.myview">
      </view>
   </extension>

</plugin>
